:root {
  --bodytext: #826a37;
  --h1text: #bcae33;
  --h4text: #d2c551c4;
  --formbg: #120e08;
  --mainbg: #0D0902;
  --gryfRed: #ae0001;
  --gryfGold: #d3a625;
  --slythGreen: #2a623d;
  --slythnSilv: #aaaaaa;
  --ravenBlue: #222f5b;
  --ravenGold: #946b2d;
  --huffleYel: #f0c75e;
  --huffleBrown: #372e29;

  --default-border: #2A251D;
  --selected-border: #d4af37CC;
  --gold-glow: #d4af37CC;
}

h1, h3, h4 {
  color: var(--h1text);
  text-align: center;
}

p, h3 {text-align: center;}


body {
    background-color: var(--mainbg);
}

* {
    color: var(--bodytext);
}


button:hover {
    border: 1px solid var(--selected-border);
    
}

.glow {
    border: 1px solid var(--selected-border);
    box-shadow: 0 0 12px var(--selected-border);
}


.defaultBorder {
  margin: 4rem auto;
  border: 1px solid var(--selected-border);
  border-radius: 5px;
  background-color: var(--formbg);
  color: var(--bodytext);
}


.hide {
  display: none;
}
