@import url('const.css');

h1, h4 {
  color: var(--h1text);
  text-align: center;
}

p {
    text-align: center;
}

body {
    background-color: var(--mainbg);
}

* {
    color: var(--bodytext);
}

.optionsGrid {
  margin: 4rem auto;
  max-width: 90vw;
  width: 90%;
  border: 1px solid var(--gryfGold);
  border-radius: 5px;
  background-color: var(--formbg);
  color: var(--bodytext);
}

.optionsGrid button{
    width: 30%;
    height: 70%;
}

button {
    border: 1px solid #2A251D;
    background-color:  var(--mainbg);
    color: var(--bodytext);
    border-radius: 4px;
}

button:hover {
    border: 1px solid var(--selected-border);
    
}

.selected-highlight {
    box-shadow: 0 0 12px var(--selected-border);

}

#submitBtn {
    border: 1px solid var(--selected-border);
    box-shadow: 0 0 12px var(--gold-glow);
}


/* 

#0D0902 — Even darker, almost indistinguishable from pure black.
#141008 — A tiny bit softer with a slight charcoal-gold warmth.
#1A140A — Just enough gold to notice the warmth under bright lighting.
*/
