:root {
  --bodytext: #826a37;
  --h1text: #bcae33;
  --h4text: #d2c551c4;
  --formbg: #120e08;
  --mainbg: #0d0902;
  --gryfRed: #ae0001;
  --gryfGold: #d3a625;
  --slythGreen: #2a623d;
  --slythnSilv: #aaaaaa;
  --ravenBlue: #222f5b;
  --ravenGold: #946b2d;
  --huffleYel: #f0c75e;
  --huffleBrown: #372e29;
}

* {
  color: var(--bodytext);
}

main {
  margin: 4rem auto;
  max-width: 800px;
  width: 90%;
  border: 1px solid brown;
  border-radius: 5%;
  background-color: var(--formbg);
}

#titles-personal,
#titles-sortinghat,
#titles-account,
#random-house,
#enrol {
  text-align: center;
  margin-bottom: 1.5rem;
}

#personal-details,
#account-access {
  display: grid;
  grid-template-columns: auto 1fr auto 1fr;
  gap: 20px 15px;
  align-items: center;
  width: 100%;
  margin: 0 auto 3rem auto;
}

input,
select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#house--btns {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 1rem;
}
#personal-details,
#account-access {
  display: grid;

  grid-template-columns: 100px 1fr 100px 1fr;

  gap: 20px 25px;
  align-items: center;
  width: 100%;
  max-width: 750px;
  margin: 0 auto 3rem auto;
}

#personal-details label,
#account-access label {
  text-align: right;
  padding-right: 5px;
}

h1 {
  color: var(--h1text);
}

h4 {
  color: var(--h4text);
}

button {
  border: 0.5px solid var(--gryfGold);
  background-color: var(--mainbg);
  color: var(--bodytext);
}

input {
  border: 0.5px solid var(--gryfGold);
  background-color: var(--mainbg);
  color: var(--bodytext);
}

#sex {
  border: 0.5px solid var(--gryfGold);
  background-color: var(--mainbg);
  color: var(--bodytext);
}

button:hover {
  background-color: red;
}

#house--btns {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  width: 100%;
  max-width: 550px;
  margin: 1.5rem auto;
  box-sizing: border-box;
}

#house--btns input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
#house--btns label {
  background-color: #120e08;
  border: 1px solid #43351c;
  color: #826a37;
  padding: 20px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  transition: all 0.3s ease;
  user-select: none;
  display: block;
}

#house--btns label:hover {
  border-color: #826a37;
  color: #c29e4c;
}
